body {
  background: rgba(248,248,248);
}

a {
  color: #236192;
}

.md-header a, .md-footer a {
  color: ghostwhite;
}

.md-header, .md-footer {
  background: rgb(101, 102, 92);
  background: linear-gradient(180deg, rgba(101, 102, 92, 1) 0%, rgba(106, 106, 106, 1) 100%);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

}

.md-header-nav__button.md-logo img {
  width: 3.2rem;
  height: auto;
  display: inline-block;
  margin-top: -7px;
}

